In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [47]:
from sklearn.datasets import load_boston

In [48]:
boston = load_boston()

C:\Users\mtayy\miniconda3\envs\datascience\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

In [49]:
dir(boston)

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'target']

In [50]:
# Create the Dataframe
df = pd.DataFrame(boston.data, columns = boston.feature_names)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [51]:
df['target'] = boston.target

In [52]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [53]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [54]:
x = df.drop('target',axis = 1)
x.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [55]:
y = df.target
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: target, dtype: float64

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import confusion_matrix, classification_report

In [57]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=1)

In [58]:
x_train.shape

(379, 13)

In [59]:
x_test.shape

(127, 13)

In [60]:
model = AdaBoostRegressor(n_estimators=100, random_state=0)

In [61]:
model.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=100, random_state=0)

In [62]:
model.score(x_test,y_test)

0.8652093724017225

In [63]:
y_pred = model.predict(x_test)

In [67]:
y_pred

array([27.85322581, 26.98232323, 19.6       , 20.88639456, 17.51392405,
       19.82751678, 27.08095238, 18.88307692, 18.80689655, 26.06578947,
       25.58994083, 31.85985401, 19.6       , 20.88639456, 19.09933775,
       18.30873786, 13.13030303, 42.8       , 26.3440367 , 14.23541667,
       19.25952381, 16.49877301, 25.62954545, 25.81891892, 28.73142857,
       11.6       , 16.22727273, 19.6       , 37.77241379, 12.04725275,
       26.98232323, 18.56455696, 46.08888889, 15.93038674, 26.22434211,
       18.85825243, 16.844     , 31.86763485, 13.44651163, 18.65333333,
       26.90628931, 25.96834171, 26.26830986, 16.81333333, 18.55675676,
       13.508     , 46.07246377, 14.32571429, 23.22222222, 20.17751196,
       23.21612903, 24.01      , 27.23578947, 23.69      , 13.44651163,
       25.81891892, 12.95483871, 25.58994083, 18.20666667, 43.09545455,
       15.93038674, 26.30416667, 14.23543307, 18.55675676, 15.95714286,
       32.16395349, 43.09545455, 26.06578947, 20.17751196, 19.6       ,
       25.81891892, 11.07021277, 17.23306452, 19.6       , 19.09933775,
       18.43043478, 44.49210526, 25.96834171, 27.23578947, 32.47894737,
       17.84974359, 20.17751196, 32.16395349, 13.13030303, 26.22434211,
       29.82469136, 16.49877301, 26.56132075, 18.85825243, 17.92708333,
       26.22434211, 44.60483871, 16.23529412, 20.17751196, 17.61578947,
       19.7225    , 20.9775    , 25.58994083, 43.41794872, 20.37538462,
       17.64347826, 15.35238095, 27.08095238, 25.81891892, 11.55866667,
       20.90118343, 17.65952381, 28.29266667, 25.44596774, 24.79583333,
       45.18987342, 26.30416667, 14.48571429, 33.54390244, 34.05259259,
       34.15416667, 19.82751678, 18.20666667, 32.41764706, 37.95970149,
       20.9775    , 15.888     , 29.82469136, 18.35      , 26.06578947,
       18.85825243, 24.79583333])